<% provide(:title, "Home") %>
<!DOCTYPE html>


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link rel="stylesheet" href="style.css">
  <link href="view.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="dist/css/swiper.css">

</head>

<body>
  
  <div id="nav">
    <ul>
      <li><%= link_to 'Search', users_path %></li>
      <li><%= link_to 'Signin', login_path %></li>
      <li><%= link_to 'Signup', signup_path %></li>
    </ul>
  </div>


<!--スライダーヌリンのやつ-->

     <div class="slideshow-container">

     <div class="mySlides fade">
       <div class="numbertext">1 / 3</div>
       <img_tag 'ayaka4.jpg' style="width:100%">
       <img alt="ayaka4" src="/assets/ayaka4.jpg" />
       <div class="text">Caption Text</div>
     </div>

     <div class="mySlides fade">
       <div class="numbertext">2 / 3</div>
       <img_tag 'ayaka1.jpg' style="width:100%">
       <img alt="ayaka1" src="/assets/ayaka1.jpg" />
       <div class="text">Caption Two</div>
     </div>

     <div class="mySlides fade">
       <div class="numbertext">3 / 3</div>
       <img_tag 'ayaka4.jpg' style="width:100%">
       <img alt="ayaka4" src="/assets/ayaka4.jpg" />
       <div class="text">Caption Three</div>
     </div>

     <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
     <a class="next" onclick="plusSlides(1)">&#10095;</a>

     </div>
     <br>

     <div style="text-align:center">
       <span class="dot" onclick="currentSlide(1)"></span>
       <span class="dot" onclick="currentSlide(2)"></span>
       <span class="dot" onclick="currentSlide(3)"></span>
     </div>

     <script>
     var slideIndex = 0;
  showSlides();

  function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
  slides[i].style.display = "none";
  }

  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 3000); // Change image every 2 seconds
  }
     </script>

<!--スライダーヌリンのやつ-->

  <center>
    <p><span class="title"> New post </span></p>

  </center>


  <main class= container>
    <div class="view view-first">
    <img_tag 'ayaka10.png' style="width:100%">
    <img alt="ayaka10" src="/assets/ayaka10.png" />
        <div class="mask">
          <h2>Australia Brisbane</h2>
          <p id="name">Ayaka</p>
          <p id="during">5weeks</p>
        </div>
    </div>

    <div class="view view-first">
    <img_tag 'saki.png' style="width:100%">
    <img alt="saki" src="/assets/saki.png" />
        <div class="mask">
          <h2>Canada victoria</h2>
          <p id="name">Saki</p>
          <p id="during">4weeks</p>
        </div>
    </div>

    <div class="view view-first">
    <img_tag 'ryoya.png' style="width:100%">
    <img alt="ryoya" src="/assets/ryoya.png" />
        <div class="mask">
          <h2>Thailand Bangkok</h2>
          <p id="name">Ryoya</p>
          <p id="during">4weeks</p>
        </div>
    </div>
  </main>


  <script src="dist/js/swiper.js"></script>
  <script>
    var swiper = new Swiper('.swiper-container', {
      loop: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      autoplay: {
        delay: 3000,
        disableOnInteraction: true,
      },
      pagination: {
        el: '.swiper-pagination',
        type: 'bullets',
      },
      paginationClickable: true,
    });

  </script>
  <center>
    <a href="#" class="btn">View all</a>
  </center>

 
  <footer>
    <p><span class = "Amii">presented by <span class = "A">A</span>mii</span></p>
  </footer>
</body>
</html>
