<p class = "chattitle">Selecting a comunication partner</p>
<% @users.each do |user| %>
  <div class = "chatallusers">
    <%= link_to user_path(user) do %>
      <%= image_tag user.image.url, size: '160x160' %>
      <div class = "chatusername">
        <a>
          <%= user.name %>
        </a>
      </div>
    <% end %>
  </div>
<% end %>