<div class="signupform">
    <div class="signupform-title">
        Sign up
    </div>
    <% provide(:button_text, 'Create my account') %>
    <%= render "form", url: signup_path %>
    <!--<p class="ifmessage">
        If you have already signed up,
    </p>-->
    <!--<%= link_to  "Sign in", signin_path, class: "ifsignin" %>-->

    <!--<%= link_to  "Back", :back, class: "back" %>-->

</div>