<div class="title">
    <h1>Sign up</h1>
</div>
<% provide(:button_text, 'Create my account') %>
<%= render "form", url: signup_path %>
<p><%= link_to  "Sign in", signin_path %> if you have already signed up</p>