.postform{
    &-tex{
        padding: 30px;
    }

    &-tex_field{
        text-align: center;
        margin-bottom: 0;
    }

    label[for="tex"]{
        font-family: Didot;
        font-size: 30px;
        padding: 10em 14em 2em;
    }

    input[type="text"]{
        width: 500px;
        height: 50px;
        font-size: 20px;
        font-family: Didot;
        background: #C4C4C4;
    }

    input[type="text"]:focus{
        border: 1px solid #C4C4C4;
        outline: none;
        box-shadow: 0 0 5px 1px #C4C4C4;
        font-size: 20px;
        font-family: Didot;
    }

    &-sel{
        padding: 30px;
    }

    .sel_select{
        text-align: center;
    }

    label[for="sel"]{
        font-family: Didot;
        font-size: 30px;
        padding: 1em 14em 2em;
    }

    select{
        color: gray;
        width: 500px;
        height: 50px;
        cursor: pointer;
        background: url(http://sharpik.com/wip/cuteselect/arrow.png) 295px 12px no-repeat white;
        font-family: Didot;
        font-size: 20px;
        padding: 5px 0 10px;
        outline: none;
    }

    select:hover {
        background-color: transparent;
        color: #DB7093;
        padding: 15px 5px 15px 25px;
        font-family: Didot;
        box-shadow: 0 0 5px 1px #C4C4C4;
        outline: none;
    }

    select option {
        background-color: white;
        color: gray;
        width: 310px;
        padding: 10px 15px;
        height: 20px;
        cursor: pointer;

    }

    select option:hover {
        padding-left: 25px;
        width: 270px;
        color: #DB7093;
    }

    // .image_input {
    //     height: 0px;
    //     padding: 0 auto;
    //     display: block;
    // }

    .image_field {
        width: 500px;
        height: 50px;
        font-size: 15px;
        font-family: Didot;
        background: #C4C4C4;
        border-radius: 1px;
        text-align: center;
        cursor: pointer;
        margin: 0 auto;
    }

    // .avlabel{
    //     font-family: Didot;
    //     // padding: 0 5em 0 0;
    // }

    .avater{
        width: 500px;
        height: 50px;
        font-size: 15px;
        font-family: Didot;
        background: #C4C4C4;
        border-radius: 1px;
        text-align: center;
        cursor: pointer;
        // margin: 0 auto;
        margin-top: 3%;
    }

    .input_default {
        display: none;
    }

    // .ava_de{
    //     display: none;
    // }

    .image_field > label {
        display: block;
        font-size: 24px;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    label[for="image"]{
        font-family: Didot;
        font-size: 30px;
        padding: 0em 15em 1.5em;
        color: #000000;
        margin-top: 1%;
    }

    input[type="image"]:focus{
        font-size: 20px;
        font-family: Didot;
    }

    .button{
        display: none;
    }

    &-style{
        border-color: black;
        width: 50%;
        margin: 5% 25%;
    }

    &-button{
        text-align: center;
    }

    .b{
        text-decoration: none;
        font-size: 40px;
        color: #000000;
        font-family: Didot;
        text-align: center;
        background: whitesmoke;
        margin-bottom: 5%;
    }

    .b:active{
        top: 4px;
        text-shadow: none;
        text-align: center;
    }

    .back{
        font-family: Didot;
        text-decoration: none;
        color: #000000;
        font-size: 30px;
        margin: 3% 48%;
    }
}
