<div class="result">
    <div class="result-title">
        Search Result by Post 
    </div>

    
    <% @results.each do |result| %> 
        <div class="resultallusers">
            <%= link_to post_path(result) do %>
                <%= image_tag result.image.url, size: '160x160' %>  
                <div class = "resultusername">
                    <a>
                    <%= result.title %>
                    </a>
                </div>
            <% end %> 
        </div>
    <% end %>
</div>   