<h3>Search Result</h3>  

 <% @results.each do |result| %>  
 <%= link_to user_path(result) do %>
 <%= image_tag result.image.url, size: '160x160' %>
        <%= result.name  %><br>  
    <% end %> 
     <% end %> 
