.chattitle{
    text-align: center;
    font-size: 40px;
}

.chatallusers{
    display: inline-block;      /* インラインブロック要素にする */
    padding:  20px;             /* 余白指定 */
    height: 100px;              /* 高さ指定 */
    background-color: #abc;
}