.chattitle{
    text-align: center;
    font-size: 35px;
    /*margin-top: 40px;*/
    font-family: bold;
    margin: 50px 600px 10px;
    border-bottom: solid 3px #DB7093;
    display: inline-block;
}

.chatallusers{
    display: inline-block;      /* インラインブロック要素にする */
    padding:  20px;             /* 余白指定 */
    height: 150px;              /* 高さ指定 */
    /*background-color: #abc;*/
}

.chatusername{
    font-size: 20px;
    color: #000000;
    
}

a {
    text-decoration: none;
}