.mypagedetail{
    font-family: Didot;
    font-size: 30px;
    padding-top: 30px;
    

}
.mypagetitle{
    border-bottom: solid 3px #DB7093;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 63px;
    text-align: center;
    /*padding-bottom:15px;*/
    display: inline-block;
    margin: 20px 650px 10px;

  
}


.mypageeg{
    font-family: Didot;
    font-size: 27px;
}


.mypageimage{
    float: left;
    width: 50%;
    text-align: right;
}

.mypagecontents{
    margin-bottom: 2%;
}
.mypagename{
    padding-top: 240px;
    font-size: 50px;    
}

.mypagebutton{
    clear: both;
    text-align: center;
    font-family: Didot;
    font-size: 30px;
    line-height: 51px;
    // padding-top: 30px;
    padding: 30px 100px 0 0;
} 

.mypagebuttonaaa a{
    color: #000000;
    text-decoration-line: underline;
}

.mypagebutton a{
    color: #000000;
    margin: 10px;
}

.mypagebuttondetail{
    text-decoration: none;
    color: #000000;
}