img{
    padding: 0px 225px;
}

.posttitle{
    font-family: Didot;
    color: #000;
    float: left;
    font-size: 80px;
    margin-left: 250px;
    margin-top:0px;
    border-bottom: 3px solid #B33E5C;
}

.author{
    padding-right: 250px;
    float: right;
    font-size: 50px;
    margin-top: 80px;
    margin-bottom:10px;
}

li{
    font-family: Didot;
    list-style: none;
    font-size: 35px;
    float: left;
    padding-top: 250px;

}
.subtitle{
    float: left;
}